html {
  scroll-behavior: smooth;
  scroll-padding-top: 4em;
}

/* variables */
:root {
  --primary: #047aed;
  --secondary: #01101e;
  --gray: #8091a0;
  --lightGray: #e0e4e8;
  --white: white;
  --midnight: #2c3e50;
  --clouds: #ecf0f1;
}

/* reset */
* {
  /* border: dashed gray 0.2px; */
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style-type: none;
}

/* layout */
.container {
  width: 100%;
  max-width: 980px;
  margin: 0 auto;
}

.grid {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
}

/* base styles */
body {
  background-color: var(--white);
  font-family: "Ubuntu", sans-serif;
}

.button {
  display: inline-block;
  color: var(--white);
  background-color: var(--primary);
  border: solid 3px var(--primary);
  border-radius: 0.5em;
  text-transform: uppercase;
  padding: 0.6em;
}

.button.inverse {
  color: var(--white);
  background-color: var(--primary);
  border: solid 3px var(--white);
}

.button:hover {
  transform: scale(0.95);
}

a {
  display: block;
}

/* fonts */
h1,
h2,
.leading,
.skillType {
  font-family: "Cinzel", serif;
  font-weight: 500;
}

h1 {
  font-size: 2.5em;
}

h2 {
  font-size: 1.8em;
}

p,
a,
li,
span {
  font-size: 1.2em;
}

p.leading,
.buttonText {
  font-size: 1em;
}

/* nav */
nav {
  background-color: var(--secondary);
  position: sticky;
  width: 100%;
  z-index: 99;
  top: 0;
  height: 4em;
}

nav div {
  height: 100%;
}

nav ul {
  height: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: baseline;
}

nav li {
  margin: 10px;
}

nav a {
  color: var(--white);
  border-bottom: solid 1px var(--secondary);
}

nav a:hover {
  border-bottom: solid 1px var(--white);
}

/* intro */
#intro {
  padding: 2em;
  background-color: var(--primary);
  color: var(--white);
}

#intro .container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#intro .text {
  margin: 1.5em;
  text-align: center;
}

#intro .buttonRow {
  display: flex;
  justify-content: space-around;
  width: 80%;
}

#intro .buttonRow img {
  height: 1.2em;
  width: auto;
}

#intro .buttonRow a:hover {
  background-color: var(--white);
  color: var(--primary);
}

#intro span.buttonText {
  display: none;
}

/* skillsHave / skillsLearning */
#skillsHaveSection,
#skillsLearnSection {
  margin: 2em;
}

#skillsHaveDiv,
#skillsLearnDiv {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
}

.skillCard {
  grid-column: span 6;
  margin: 0.8em;
  padding: 0.5em;
  border: solid var(--primary) 2px;
  border-radius: 1em;
  /* box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2); */
}

.skillCardHeader {
  color: var(--gray);
  border-bottom: solid 1px var(--gray);
}

.skills {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.skillItem {
  display: flex;
  /* border: solid 1px; */
  margin: 0.5em 1em;
}

.skillItem img {
  height: 1.5em;
  width: auto;
  display: inline-block;
  margin-right: 0.8em;
}

/* pragmatic / academic */
/* Style the buttons that are used to open and close the accordion panel */
.accordion {
  background-color: var(--lightGray);
  color: var(--secondary);
  cursor: pointer;
  /* padding: 18px; */
  width: 100%;
  text-align: center;
  border: none;
  outline: none;
  transition: 0.4s;
}

#pragmaticSection,
#academicSection {
  margin: 2em;
}

h2 {
  text-align: center;
}

.project {
  display: flex;
  margin: 0.8em;
  padding: 0.8em;
  border: solid var(--primary) 2px;
  border-radius: 1em;
  align-items: center;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
  padding: 0.5em;
}

.project:hover {
  transform: translate(-2px, -4px);
}

.project img {
  height: 100px;
  width: auto;
}

.project .description {
  margin-left: 1.5em;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.project .description a {
  margin: 0.5em 0;
  /* border: solid 1px; */
}

/* more */
#more {
  background-color: var(--primary);
  color: var(--white);
  padding: 2em;
  border: solid 1px;
  margin-top: 2rem;
}

#more h2 {
  margin-bottom: 0.5em;
}

#more div {
  display: flex;
  justify-content: space-between;
}

#more img {
  height: 20px;
  width: auto;
}

#more a:hover {
  background-color: var(--white);
  color: var(--primary);
  border-color: var(--white);
}

/* footer */
footer {
  background-color: var(--secondary);
  color: var(--white);
  padding: 1em 2em 2em;
}

footer .small {
  font-size: 0.8em;
}

footer .big {
  font-size: 3em;
}

footer .big::after {
  content: "";
  display: block;
  width: 0;
  height: 2px;
  background: var(--white);
  transition: width 0.2s ease-in;
}

footer .big:hover::after {
  width: 100%;
}

/* small tablet styles */
@media screen and (min-width: 570px) {
  #intro span.buttonText {
    display: inline;
  }
}

/* small tablet styles */
@media screen and (min-width: 620px) {
  /* skills */
  .skillCard {
    grid-column: span 5;
  }

  .oddCard {
    grid-column: 2 / 7;
  }
}

/* intermediary tablet */
@media screen and (min-width: 680px) {
  /* projects */
  #pragmaticDiv,
  #semiPragmaticDiv,
  #academicDiv {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
  }

  .project {
    flex-direction: column;
    grid-column: span 6;
  }

  .project img {
    height: 150px;
    width: auto;
  }

  .project .description {
    margin-left: 0;
    margin-top: 1.5em;
  }

  /* footer */
  #more div {
    display: flex;
    justify-content: space-around;
  }
}

@media screen and (min-width: 740px) {
  /* skills */
  .skillCard {
    grid-column: span 4;
  }

  .othersCard {
    grid-column: 5/9;
  }

  .languageCard {
    grid-column: 2 / 6;
  }

  .developerCard {
    grid-column: 8 / 12;
  }
}

/* large tablets & laptop */
@media screen and (min-width: 880px) {
  /* skills */
  .skillCard {
    grid-column: span 3;
  }

  .languageCard {
    grid-column: 3 / 6;
  }

  .developerCard {
    grid-column: 8 / 11;
  }

  /* projects */
  .project {
    flex-direction: column;
    grid-column: span 3;
  }
}
